.header-container {
  background-color: white;
  padding: 15px 10px;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;

  align-items: stretch;
  flex-direction: column;
}

.header-container .dropdown {
  max-width: 60%;
  padding-bottom: 10px;
}


/* button {
  background-color: #3d49d6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  line-height: 30px;
} */
